@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    font-size: 45px;
    font-family: 'Times New Roman';
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#comparison-count {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 20px;
    font-style: italic;
    font-weight: bold;
    align-items: center;

}

label[for="fname"] {
    color: #040404;
    margin-right: 20px;
    font-size: 22px;
    font-style: italic;
    font-weight: bolder;

}

#container {
    background-color: rgb(250, 242, 242);
    height: 600px;
    width: 780px;
    margin: auto;
    position: relative;
    margin-top: 70px;
    padding: 10px;
}

.block {
    width: 25px;
    background-color: #c5aefe;
    position: absolute;
    bottom: 0px;
    transition: 0.2s all ease;
}

#fname {

    padding: 5px;
    width: 55%;
    margin: 20px;
    border: none;
    outline: none;
    border-bottom: 3.5px solid #c8bcfd;
    font-size: 20px;
    background-color: rgb(252, 247, 247);
    font-size: 20px;

}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 20px;
}

.btn {
    padding: 12px 24px;
    background-color: #a09bfa;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 30px;
    transition: background-color 0.3s;
    min-width: 200px;
}

@media (max-width: 500px) {
    .btn {
        padding: 10px 20px;
        margin-right: 20px;
        font-size: 14px;
        min-width: 40%;
        
    }
}

.btn:hover {
    background-color: #b070f9;
}

.block_id {
    position: absolute;
    color: black;
    margin-top: -20px;
    width: 100%;
    text-align: center;
}

#text {
    font-size: 20px;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    font-weight: bolder;
}